# directories
/__pycache__/
/env/
/build/
/develop-eggs/
/dist/
/downloads/
/eggs/
/lib/
/lib64/
/parts/
/sdist/
/var/
/htmlcov/
/instance/
/docs/_build/
/target/
/venv/
/ENV/
/scratch/
/cmake-build-*/
/out/

# files
pip-log.txt
pip-delete-this-directory.txt
nosetests.xml
coverage.xml
local_settings.py
celerybeat-schedule
pyvenv.cfg
pip-selfcheck.json
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# hidden files & directories
.Python
.eggs/
.installed.cfg
.tox/
.coverage
.coverage.*
.cache
.hypothesis/
.webassets-cache
.scrapy
.ipynb_checkpoints
.python-version
.env
.spyderproject
.ropeproject
.venv
.idea_modules/
.idea

# wildcard files & directories
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
*.manifest
*.spec
*,cover
*.mo
*.pot
*.log
*.iml
*.ipr
*.iws

# virtual env
Virtualenv
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts